.navbarMenu{
    width: 20%;
    height: 800px;
    background-color: rgb(238, 236, 236);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(238, 236, 236);
  }

  li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
  }
/* Card da refeição do dia
.cardRef{
 position: relative;
 margin-left: 78%;
 margin-top: -58%;
}*/

.cardRef{
  position: absolute;
  right: 6px;
  top: 64px;
 }

/* Imagem(Avatar) do menu */
#imgcard{
  position: relative;
  left: 25%;
}

.table{
  width: 60%;
  position: absolute;
  left: 30%;
  top: 25%;
}

.container-form{
  background-color: rgb(243, 240, 240);
  width: 50%;
  height: 250px;
  position: absolute;
  top:70px;
  left: 25%;
}

.container-update{
  background-color: rgb(243, 240, 240);
  width: 50%;
  height: 700px;
  position: absolute;
  top:100px;
  left: 35%;
}

/* CHAT ATENDIMENTO */

.container {
  /*border: 2px solid #dedede;*/
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
